# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.Python
venv/
env/
*/.env
backend/.env
server/.env
.env
frontend/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json

# Logs
*.log
